.guest-page {
  background: url('../assets/backgrounds/montalcino_ai.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-font {
  font-family: 'Tangerine', cursive;
  font-size: 4.5em; 
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media (max-width: 600px) {
.title-font {
  font-size: 2.5em; /* smaller font size for screens less than 600px */
}
}

.card {
  opacity: 0.9;
  background-color: rgba(230, 210, 160, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.info-link {
  color: #008CBA; /* Blue */
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  margin: 4px 2px;
  background: none; /* Reset background */
  border: none; /* Reset border */
  padding: 0; /* Reset padding */
  display: inline; /* Ensure it's not a block element */
}

.info-link:hover {
  color: #4CAF50; /* Green */
}

.guest-link {
  color: #008CBA; /* Blue */
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  margin: 4px 2px;
}

.guest-link:hover {
  color: #4CAF50; /* Green */
}

@media (max-width: 600px) {
.card {
  width: 90%;
  padding: 10px; /* smaller padding for screens less than 600px */
}
}